* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

footer {
  background-color: rgb(241, 149, 10);
  margin: 1rem;
  width: 100%;
  margin-left: 0%;
}

.footer {
  padding: 40px 0;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 10px;
}

.footer-links {
  width: 25%;
  padding: 0 15px;
}

.footer-links h4 {
  font-size: 20px;
  margin-bottom: 25px;
  font-weight: 500px;
  border-bottom: 2px solid;
  padding-bottom: 10px;
  display: inline-block;
}

.footer-links ul li a {
  font-size: 18px;
  text-decoration: none;
  display: block;
  margin-bottom: 15px;
  transition: all 0.3s ease;
}

.footer-links ul li a:hover {
  color: azure;
  padding-left: 6px;
}

.social-links a {
  display: inline-block;
  min-height: 30px;
  width: 30px;
  background-color: rgb(7, 7, 7);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: bisque;
  transition: all 0.5s ease;
}

.social-links a:hover {
  background-color: rgb(0, 0, 0);
}

@media (max-width: 991px) {
  .footer-row {
    text-align: center;
  }
  .footer-links {
    width: 100%;
    margin-bottom: 30px;
  }
}
.listafooter {
  text-decoration: none;
  padding: 15px;
  list-style: none;
}

.navcolor {
  background-color: rgb(241, 149, 10);
}

.navbar {
  background-color: rgb(241, 149, 10);
}

se comenta una clase que se dejo de usar por el momento .header2 {
  background-color: rgb(241, 149, 10);
  margin: 0 auto;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  list-style: none;
}

.header2 .nav-links li {
  display: inline-block;
  padding: 2px;
}

.header2 .nav li:hover {
  transform: scale(2.2);
}

.header2 .nav-li {
  display: inline-block;
  padding: 0 20px;
}

.header2 .nav-a {
  font-size: 500;
  display: inline-block;
}

@media (max-width: 991px) {
  .header2 {
    text-align: center;
  }
  .logo {
    display: flex;
    align-items: start;
  }
  .nav-links {
    width: 100%;
    margin-bottom: 10px;
  }
}
.logo img {
  width: 60px;
  padding: 3px;
}

.bg-warning {
  color: rgb(241, 149, 10);
}

body {
  background-color: rgba(232, 204, 151, 0.7960784314);
  margin: 20px;
}

main {
  margin: 10px;
}

.video {
  margin: auto;
  padding: 10px;
  border-radius: 10px;
}

h1 {
  text-align: center;
  font-weight: bolder;
  margin-block: 20px;
}

p {
  line-height: 1.5;
}

.link {
  text-decoration: none;
}

label {
  display: block;
}

input {
  display: block;
  width: 100%;
}

textarea {
  display: block;
  width: 100%;
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-weight: 600;
}

.logo img {
  width: 60px;
  padding: 3px;
}

.item {
  text-decoration: none;
  color: black;
  padding: 0.7rem;
  display: flex;
  font-weight: 550;
}

.item:hover {
  background-color: black;
  color: orange;
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  border-radius: 10px;
  color: crimson;
}

.contenedor {
  padding-block: 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px 20px;
  grid-template-areas: "article1 article2 article3" "article4 article5 article6";
}
.contenedor ul {
  list-style: none;
}

@media screen and (max-width: 480px) {
  .contenedor {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 6px 25px;
    grid-template-areas: "article1" "article2" "article3" "article4" "article5" "article6";
  }
}
.grid-footer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header {
  grid-area: header;
}

.section1 {
  grid-area: section1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.section1 img {
  border: radius 5px;
}

.section2 {
  grid-area: section2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 20px;
}
.section2 img {
  border-radius: 5px;
}

.section3 {
  grid-area: section3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.section3 img {
  border-radius: 5px;
}

.article1 {
  grid-area: article1;
  background-color: #efc990;
  padding: 15px;
  border-radius: 5px;
}

.article2 {
  grid-area: article2;
  background-color: #efc990;
  border-radius: 5px;
  padding: 15px;
}

.article3 {
  grid-area: article3;
  background-color: #efc990;
  border-radius: 5px;
  padding: 15px;
}

.section4 {
  grid-area: section4;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.section4 img {
  border-radius: 5px;
}

.section5 {
  grid-area: section5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.section5 img {
  border-radius: 5px;
}

.section6 {
  grid-area: section6;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.section6 img {
  border-radius: 5px;
}

.article4 {
  grid-area: article4;
  background-color: #efc990;
  border-radius: 5px;
  padding: 15px;
}

.article5 {
  grid-area: article5;
  background-color: #efc990;
  border-radius: 5px;
  padding: 15px;
}

.article6 {
  grid-area: article6;
  background-color: #efc990;
  border-radius: 5px;
  padding: 15px;
}

.footer {
  grid-area: footer;
  border-radius: 8px;
  padding: 3px;
}


.navbar {
  background-color: rgb(241, 149, 10);
}

.card {
  background-color: #efc990;
  margin-block: 30px;
  width: 380px;
  margin: 12px;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card-img {
  box-sizing: border-box;
  width: 100%;
}

.img-container {
  display: flex;
}

.card-footer ul {
  padding-left: 0;
}

/*# sourceMappingURL=style.css.map */
