.contenedor {
  padding-block: 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px 20px;
  grid-template-areas: 'article1 article2 article3' 'article4 article5 article6';
  ul {
      list-style: none;
    }
}

@media screen and (max-width: 480px) {
  .contenedor {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 6px 25px;
    grid-template-areas: 'article1' 'article2' 'article3' 'article4' 'article5' 'article6';
  }
}


.grid-footer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header {
  grid-area: header;
}

.section1 {
  grid-area: section1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
img {
  border: radius 5px;
}
}
.section2 {
  grid-area: section2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 20px;
img {
  border-radius: 5px;
}
}
.section3 {
  grid-area: section3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
img {
  border-radius: 5px;
}
}

.article1 {
  grid-area: article1;
  background-color: #efc990;
  padding: 15px;
  border-radius: 5px;
}

.article2 {
  grid-area: article2;
  background-color: #efc990;
  border-radius: 5px;
  padding: 15px;
}

.article3 {
  grid-area: article3;
  background-color: #efc990;
  border-radius: 5px;
  padding: 15px;
}

.section4 {
  grid-area: section4;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
img {
  border-radius: 5px;
}
}
.section5 {
  grid-area: section5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
img {
  border-radius: 5px;
}
}
.section6 {
  grid-area: section6;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
img {
  border-radius: 5px;
}
}
.article4 {
  grid-area: article4;
  background-color: #efc990;
  border-radius: 5px;
  padding: 15px;
}

.article5 {
  grid-area: article5;
  background-color: #efc990;
  border-radius: 5px;
  padding: 15px;
}

.article6 {
  grid-area: article6;
  background-color: #efc990;
  border-radius: 5px;
  padding: 15px;
}

.footer {
  grid-area: footer;
  border-radius: 8px;
  padding: 3px;
}