.navcolor{
    background-color: $colorNav;
}
.navbar{
    background-color: rgb(241, 149, 10);
}
// se comenta una clase que se dejo de usar por el momento
// .header2{
//     background-color: rgb(241, 149, 10);
//     margin: 0 auto;
//     border-radius: 10px;
//     justify-content: space-between;
//     align-items: center;
//     display: flex;
//     list-style: none;
// }
// .header2 .nav-links li{
// display: inline-block;
// padding: 2px;
// }
// .header2 .nav li:hover{
// transform: scale(2.2);

// }
// .header2 .nav-li{
// display: inline-block;
// padding: 0 20px;
// }
// .header2 .nav-a{
// font-size: 500;
// display: inline-block;
// }
// @media(max-width:991px){
// .header2{
//     text-align: center;
// }
// .logo{
//     display: flex;
//     align-items: start;
// }
// .nav-links{
//     width: 100%;
//     margin-bottom: 10px;
// }
// }
.logo img{
width: 60px;
padding: 3px;

}
.bg-warning{
    color: rgb(241, 149, 10);
}