$colorClaro:#e8cc97cb;
$colorCards: #efc990;

*{  margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    }
    
body {
        background-color: $colorClaro;
        margin: 20px;
        
    }
main{
        margin: 10px;
    }
footer {
        background-color: rgba(241, 149, 10);
        margin: 1rem;
        width: 100%;
        margin-left: 0%;
    
    }
.footer{padding: 40px 0;  
}
.footer-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 10px;
    
}
.footer-links{
    width: 25%;
    padding: 0 15px;
    
}
.footer-links h4{
    font-size: 20px;
    margin-bottom: 25px;
    font-weight: 500px;
    border-bottom: 2px solid;
    padding-bottom: 10px;
    display: inline-block;
}
.footer-links ul li a {
    font-size: 18px;
    text-decoration: none;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}
.footer-links ul li a:hover{
    color: azure;
    padding-left: 6px;
}
.social-links a{
    display: inline-block;
    min-height: 30px;
    width: 30px;
    background-color: rgb(7, 7, 7);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: bisque;
    transition: all .5s ease;
}
.social-links a:hover{
    background-color: rgb(0, 0, 0);
}
@media(max-width:991px){
    .footer-row{
        text-align: center;
    }
    .footer-links{
        width: 100%;
        margin-bottom: 30px;
    }
}

    
.nav1{
        background-color: rgb(241, 149, 10);
        margin: 0 auto;
        border-radius: 10px;
        justify-content:space-between;
        align-items: center;
        display: flex;
        list-style: none;
        
        
    
    }
    .headerTitle {
        text-align: center;
    }
    
    .video {
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    }
    h1{ text-align: center;
    font-weight: bolder;
    margin-block:20px;}
    
    .listafooter{
        text-decoration: none;
        padding:15px;
        list-style: none;
        
    }
    p{
        line-height: 1.5;
    }
    .link{
        text-decoration: none;
    }
    label{
        display: block;
    }
    input{
        display: block;
        width: 100%;
    }
    textarea{
        display: block;
        width: 100%;
    }
    .video{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h2{
        font-weight: 600;
    }
    .logo img{
        width: 60px;
        padding: 3px;
        
    }
    .item{
        text-decoration: none;
        color: black;
        padding: 0.7rem;
        display: flex;
        font-weight: 550;
        
    }
    .item:hover{
        background-color: black;
        color: orange;
        border-radius: 10px;
    
    }
    a{
        text-decoration: none;
        color: black;
    }
    a:hover{
        border-radius: 10px;
        color:crimson
        
    }
    .contenedor { 
        width: 100vw;
        height: 100vh;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 10px 10px;
        grid-template-areas:
        "header header header"
        "section1 section2 section3"
        "article1 article2 article3"
        "section4 section5 section6"
        "article4 article5 article6"
        "footer footer footer";
        ul{
            list-style: none;
        }
    }
    
    .header { grid-area: header; }
    
    .section1 { grid-area: section1; 
    display: flex;
    justify-content: center;
    align-items: center;
    img{ border: radius 5px; ; }
    
    }
    
    .section2 { grid-area: section2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    img{
    border-radius: 5px;
    }
    
    }
    
    .section3 { grid-area: section3;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
    border-radius: 5px;
    }
    
    }
    .article1 { grid-area: article1;
    background-color: $colorCards;
    padding: 15px;
    border-radius: 5px; }
    
    .article2 { grid-area: article2;
    background-color: $colorCards;
    border-radius: 5px;
    padding: 15px; }
    
    .article3 { grid-area: article3;
    background-color: $colorCards;
    border-radius: 5px;
    padding: 15px;}
    
    .section4 { grid-area: section4;
    
    display: flex;
    justify-content: center;
    align-items: center;
    img{ border-radius: 5px;}
    }

    
    .section5 { grid-area: section5;
    display: flex;
    justify-content: center;
    align-items: center;
    img{ border-radius: 5px;}
    }
    .section6 { grid-area: section6;
    display: flex;
    justify-content: center;
    align-items: center;
    img{border-radius: 5px;}
    }

    .article4 { grid-area: article4;
    background-color:  $colorCards;
    border-radius: 5px;
    padding: 15px; }
    
    .article5 { grid-area: article5;
    background-color: $colorCards;
    border-radius: 5px;
    padding: 15px;}
    
    .article6 { grid-area: article6;
    background-color:  $colorCards;
    border-radius: 5px;
    padding: 15px; }
    
    .footer { grid-area: footer;
    border-radius: 8px;
    padding: 3px; }
    
        @media screen and (max-width:768px){
          .contenedor { 
        
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            gap: 10px 25px;
            grid-template-areas:
            "header header "
            "section1 section2 "
            "article1 article2 "
            "section3 section4 "
            "article3 article4 "
            "section5 section6 "
            "article5 article6 "
            "footer footer " ;
          }
        }
    
        @media screen and (max-width:420px){
          .contenedor { 
        
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            gap: 10px 25px;
            grid-template-areas:
            "header "
            "section1"
            "article1"
            "section2"
            "article2"
            "section3"
            "article3"
            "section4"
            "article4"
            "section5"
            "article5"
            "section6" 
            "article6"
            "footer" ;
          }
        }
        .contenedor2 { 
          width: 100vw;
          height: 100vh;
          margin: 0 auto;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: 0.5fr 1fr 1fr 1fr 0.5fr;
          gap: 8px 8px;
          grid-auto-flow: row;
          grid-template-areas:
            "header header header"
            "inmobiliaria1 seccion1 articulo1"
            "inmobiliaria2 seccion2 articulo2"
            "inmobiliaria3 seccion3 articulo3"
            "footer footer footer";
            ul{list-style: none;}
        }
        
        .header { grid-area: header;
        padding: 10px; }
        
        .inmobiliaria1 { grid-area: inmobiliaria1;
        img{ border-radius: 5px;}
        h5{text-align: center;
        padding:5px;} 
      
   }
    
        
        .inmobiliaria2 { grid-area: inmobiliaria2;
        img{border-radius: 5px;
            display: flex;
            align-items: center;}
        h5{ text-align: center;
        padding: 5px;}
}
        
        .inmobiliaria3 { grid-area: inmobiliaria3; 
        padding: 5px;
        img{border-radius: 5px;}
        h5{text-align: center;
        padding: 5px;}}
        
        .seccion1 { grid-area: seccion1;
        background-color:  $colorCards;
        border-radius: 5px;
        padding: 5px;}
        
        .seccion2 { grid-area: seccion2;
        background-color:  $colorCards;
        border-radius: 5px;
        padding: 5px;
       }
        
        .seccion3 { grid-area: seccion3;
        background-color:  $colorCards;
        border-radius: 5px;
        padding: 5px; }
        
        .articulo1 { grid-area: articulo1;
        padding: 5px;
        img{border-radius: 5px;}
      }
        
        
        .articulo2 { grid-area: articulo2;
        padding: 5px;
        img{border-radius: 5px;}}
        
        
        .articulo3 { grid-area: articulo3;
        padding: 5px;
        img{border-radius: 5px;} }
        
        .footer { grid-area: footer; }
    
        @media screen and (max-width:768px){
          .contenedor2 {
            grid-template-columns: 1fr;
            grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1f;
            gap: 0px 0px;
            grid-auto-flow: row;
            grid-template-areas:
              "header"
              "inmobiliaria1" 
              "seccion1" 
              "articulo1"
              "inmobiliaria2 "
              "seccion2" 
              "articulo2"
              "inmobiliaria3"
              "seccion3"
              "articulo3"
              "footer";
          } 
        }
    
        @media screen and (max-width:420px){
          .contenedor2 {
            grid-template-columns: 1fr;
            grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1f;
            gap: 0px 0px;
            grid-auto-flow: row;
            grid-template-areas:
              "header"
              "inmobiliaria1" 
              "seccion1" 
              "articulo1"
              "inmobiliaria2 "
              "seccion2" 
              "articulo2"
              "inmobiliaria3"
              "seccion3"
              "articulo3"
              "footer";
          } 
        }
